/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    margin: 0px 0px 0px;
    background-color: lightgrey;
}

main {
    margin: 0 auto;
    position: relative;
}

nav {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

article {
    width: 70%;
    text-align: justify;
    background-color: rgba(255,255,255,0.75);
    padding: 10px;
    margin: 20px auto;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

#tekst {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

img.floatRight {
  float: right;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(0, 170, 255);
    overflow: hidden;
    width: 100%;
    margin-top: 0px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: #aaaaaa;
}

#hoofdtitel {
    font-family: Arial, Helvetica, sans-serif
}

#logo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    padding: 20px 18px;
    text-decoration: bold;
    font-weight: bold;
    color: white;
}

#welkom {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(0, 170, 255);
}

.tekst2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#paragraaf {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    text-align: center;
    width: 1200px;
    display: inline-block;
    margin-left: 55px;
}

#foto2 {
   width: 400px;
   margin-left: 20px;
}

#tekst4 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#video{
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
}